# -----------------------------
# Python
# -----------------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment Variables
.env

# -----------------------------
# Uploaded Files
# -----------------------------
uploads/
backend/uploads/

# -----------------------------
# Vector Database
# -----------------------------
faiss_index/
vectorstore/
chroma_db/
*.faiss
*.pkl

# -----------------------------
# Node / React
# -----------------------------
node_modules/
dist/
build/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Testing / Cache
# -----------------------------
.pytest_cache/
.cache/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Misc
# -----------------------------
*.sqlite3
*.db