# -----------------------------
# Python
# -----------------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -----------------------------
# Environment Variables
# -----------------------------
.env
backend/.env


frontend/node_modules
backend/node_modules
# -----------------------------
# Uploaded Files
# -----------------------------
uploads/
backend/uploads/

# -----------------------------
# Vector Database
# -----------------------------

chroma_db/
*.faiss
*.pkl

# -----------------------------
# Node / React
# -----------------------------
node_modules/
dist/
build/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.cache/
.mypy_cache/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Database
# -----------------------------
*.sqlite3
*.db

# -----------------------------
# Logs
# -----------------------------
*.out
*.err

# -----------------------------
# Environment Files
# -----------------------------
.python-version